<div id="<%= dom_id course %>">
  <div>
    <strong>Grade:</strong>
    <%= course.grade_id %>
  </div>

  <div>
    <strong>Subject:</strong>
    <%= course.subject_id %>
  </div>

  <div>
    <strong>Teacher:</strong>
    <%= course.teacher_id %>
  </div>

</div>
