<div id="<%= dom_id exam %>">
  <div>
    <strong>Title:</strong>
    <%= exam.title %>
  </div>

  <div>
    <strong>Date:</strong>
    <%= exam.date %>
  </div>

  <div>
    <strong>Course:</strong>
    <%= exam.course_id %>
  </div>

</div>
